{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}
{% block content %}
	<main class="container">
		<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 form">
			<div class="card text-secondary">
				<div class="card-header text-dark">
					<h1>Login</h1>
				</div>
				<div class="card-body">
					<form method="POST">{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-outline-secondary mt-4 mb-3">Sign In</button>
					</form>
					<small><a href="{% url 'register' %}">Don't Have An Account?</a></small>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}